body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
}

.inner_container {
    margin: 0 auto;
}

.inner_container img {
    display: block;
    margin: auto;
}

#plus {
    padding: 180px 100px;
    background: url("../images/plus_scaled.jpg") no-repeat center center;
}

#equals {
    padding: 180px 100px;
    background: url("../images/equals.png") no-repeat center center;
}

h1, h3, .info_text {
    padding: 5px;
    text-align: center;
}

p {
    padding: 5px;
    max-width: 500px;
    margin: auto;
}

.home_images {
    width: 400px;
}