body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
/*    display: inline-block;*/    
}

.inner_container {
    margin: 0 auto;
}

.inner_container img {
    display: block;
    margin: auto;
}

#plus {
    padding: 180px 100px;
    background: url("../images/plus_scaled.jpg") no-repeat center center;
}

#equals {
    padding: 180px 100px;
    background: url("../images/equals.png") no-repeat center center;
}