body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
/*    display: inline-block;*/    
}

.inner_container {
    margin: 0 auto;
}

.inner_container img {
    display: block;
    margin: auto;
}

#plus {
    padding: 180px 100px;
    background: url("../images/plus_scaled.jpg") no-repeat center center;
}

#equals {
    padding: 180px 100px;
    background: url("../images/equals.png") no-repeat center center;
}

h1 {
    padding: 5px;
    text-align: center;
}

h3 {
    padding: 5px;
    text-align: center;
}

.info_text {
    padding: 5px;
    text-align: center;
}
p {
    padding: 5px;
    max-width: 500px;
    margin: auto;
}