#log {
    width: 400px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

#pic {
    padding: '10%';
/*    float: right;*/
    width = '90%';
    height = 'auto';
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}