body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
}

.container {
    margin: 10px;
}

#log {
    max-width: 425px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
}

h1 {
    padding: '10%';
}

h3 {
    font-size: 13pt;
    color: brown;
}

p {
    font-size: 10pt;
    color: tan;
}

#pic {
    padding: '10%';
    width='90%';
    height='auto';
}

#btnWS {
    position: relative;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 0;
}

.icon {
    display: list-item;
}

#btnWS:hover {
    /*background-color: #3e8e41;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}