.container {
    margin: 10px;
}

#log {
    max-width: 300px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
}

h1 {
    padding: '10%';
}

h3 {
    font-size: 13pt;
    color: brown;
}

p {
    font-size: 10pt;
    color: tan;
}

#pic {
    width: auto;
    height: auto;
    padding: 10%;
}

#btnWS {
    background-color: white;
    position: relative;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
}

.icon {
    display: list-item;
}
