.container {
    margin: 10%;
    width: 95%;
    height: auto;
}

.container > div {
    width: 50%;
    
}
.col1 {
    float: left;
}

p {
    padding: 20px;
    margin: auto;
    width: 250px;
}

@media screen and (max-width:680px) {
.container {
    margin: 10px;
    width: 95%;
    height: auto
}
.container > div {
    width: 100%;
}