body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
}

.container {
    margin: 10%;
    width: 95%;
    height: auto;
}

.container > div {
    width: 50%;
    
}
.col1 {
    float: left;
}

.col3 {
    margin: auto;
}

@media screen and (max-width:680px) {
.container {
    margin: 10px;
    width: 95%;
    height: auto
}
.container > div {
    width: 100%;
}